<!DOCTYPE html>
<html lang="en">
	<head>
		 <meta charset="utf-8">
	</head>
	<body>
		<div class="row text-center">
			<br><br>
			<h3>Excluir anúncio</h3>
			<br>
		</div>
		
		<div class="col-md-2">
			<div class="emptyBox20"></div>
		</div>
		<div class="col-lg-8 text-center">
			<br>
			<p> Ao excluir seu anúncio todos os seus dados serão apagados, e nenhum cliente poderá encontrar seu serviço através do DeCasa. </p>
			<br>
			
			<div id="success"></div>
			<input id="btnSubmit" type="submit" class="btn"  value="Excluir" />
			<br></br>
			<br></br>
			 
		</div>
		<script src="js/deleteAccount.js"></script>
	</body>

</html>


