<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="row">
			<br><br>
			<h3 align="center"> Meu perfil</h3>
			<br>
			<div class="col-sm-3" style="text-align: center">
				<div class="profile-pic">
					<img src="uploads/profile_default.jpg" class="img-responsive img-circle" alt="" align="left" >	
				</div>
			</div>
			
			<div class="col-md-9">
				<div style="float:left">
					<label>Nome:</label>
					<p id="tv_name"></p>
					<label>E-mail:</label>
					<p id="tv_email"></p>
					<label>CPF:</label>
					<p id="tv_cpf"></p>
					<br><br>
				</div>
				<div class="emptyBox20"></div>
			</div>	
		
		</div>
	</body>
</html>
